
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Mark System Results | Anna University (Chennai)</title><meta name="description" content="Anna University Chennai"><meta name="keywords" content="Anna University Chennai"><meta name="language" content="English"><meta name="author" content="National Network of Education"><meta name="copyright" content="National Network of Education"><meta name="robots" content="ALL"><meta name="reply-to" content="info@indiaeducation.net"><meta name="document-distribution" content="Global"><meta name="document-state" content="Dynamic"><link rel="icon" href="http://www.indiaeducation.net/favicon.ico" type="image/x-icon" /><link rel="shortcut icon" href="http://www.indiaeducation.net/favicon.ico" type="image/x-icon" /><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><style>body {margin:0 auto;padding:10px;}#wapper{width:1000px;height:auto;}.sp1{text-decoration:none;font-size:10px; font-family:"Trebuchet MS";}.sp2{text-decoration:none; font-family:"Trebuchet MS"; font-size:12px;}.sp3{color:#03C;text-decoration:none;}.sp4{text-decoration:none; font-family:"Trebuchet MS"; font-size:13px; color:#000000}.sp5{text-decoration:none;font-size:13px; font-family:"Trebuchet MS";}</style></head><body id="wapper"><script language="JavaScript">var zflag_nid="1185"; var zflag_cid="2881"; var zflag_sid="1006"; var zflag_width="1"; var zflag_height="1"; var zflag_sz="15";</script><script language="JavaScript" src="http://d8.zedo.com/jsc/d8/fo.js"></script><script type="text/javascript" src="http://www-sf1.examresults.net/annauniv/chennaiuniv2.js"></script><div style="margin-top:5px;"><div style="border:#6F6 solid 3px; width:980px; padding:15px; height:auto; float:left; background-image:url(http://2.bp.blogspot.com/-lw4zOO2tl8c/T8DN-GqP95I/AAAAAAAAAdY/YbpQ1I0c5eg/s1600/bg.png);"><div style="width:auto; height:70px; border:#6c6 solid 1px; padding:15px; font-family:'Trebuchet MS'; font-size:11px; color:#069; background-color:#FFF;"><div style="float:left; width:200px;"><a href="http://www.chennaieducation.net" target="_blank"><img src="http://1.bp.blogspot.com/-QYA60VAwzo0/T-gC8e8pVTI/AAAAAAAAAmw/YF8cAtXGXIw/s1600/l.gif" title="Latest Exam Results from Anna University Chennai" alt="Latest Exam Results from Anna University Chennai" border="0"></a></div><div style=" width:500px; float:right; text-align:right;"><script type="text/javascript">karunya();</script></div></div><div style="width:960px; border:#6c6 solid 1px; margin-top:10px; padding:10px; background-color:#FFF; float:left;" align="center"><div style="float:left;"><script type="text/javascript">topleaderboard();</script></div><div style="float:left; margin-left:10px;"><script type="text/javascript"><!--
google_ad_client = "ca-pub-1334021877048856";
google_ad_slot = "1024083185";
google_ad_width = 200;
google_ad_height = 90;
//--></script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></div></div><div style="margin-top:10px;"><center><script type="text/javascript"><!--
google_ad_client = "ca-pub-1334021877048856";
google_ad_slot = "1794900659";
google_ad_width = 728;
google_ad_height = 15;
//--></script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script></center></div><div style="float:left;margin-top:10px;width:120px; height:740px; padding:10px; font-family:'Trebuchet MS'; font-size:13px; color:#000;border:#6c6 solid 1px;background-color:#FFF;"><div style="float:left; width:120px; height:auto; margin-top:2px;"><script type="text/javascript">left();</script></div></div><div style="float:left; font-size:17px;margin-left:7px;border:#6c6 solid 1px; width:473px; padding:10px; font-family:arial; color:#666; margin-top:10px;background-color:#FFF;"><center><h1 class="sp4"><font color="#0033FF" size="4">Anna University (Chennai) Results 2012</font></h1><br /><br />
  
 <style>
  #clicks_counts_text
  {
    width:197px;
    height:24px;
  }
  
</style>
  
  <%= yield %>
  
  
  <br /><a href="http://results.chennaieducation.net/ANNAUNIV/legend.pdf"><b>LEGENDS USED</b></a></p><p><script type="text/javascript">middle();</script><br /><br /><a href="http://results.chennaieducation.net/annauniv"><b>Check another Result</b></a><br><br><a href="javascript:window.print();"><b>Print Result</b></a></span></center></div><div style="float:right;margin-top:10px;margin-left:5px;width:auto; height:auto; padding:10px; font-family:'Trebuchet MS'; font-size:12px; color:#036;border:#6c6 solid 1px; background-color:#FFF;"><script type="text/javascript">right();</script></div></div></div><div style="border:#6F6 solid 3px; margin-top:10px; width:995px; padding:10px; height:auto; float:left; background-image:url(http://2.bp.blogspot.com/-lw4zOO2tl8c/T8DN-GqP95I/AAAAAAAAAdY/YbpQ1I0c5eg/s1600/bg.png);"><div style="background-color:#FFF; padding:5px;" class="sp1"><script type="text/javascript">disclaimer();</script><div style="width:795px; border-top:#EBEBEB solid 1px; margin-top:10px;"></div><script type="text/javascript">bottom();</script></div><script type="text/javascript">twit();</script><script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">_uacct = "UA-2297524-1";urchinTracker();</script><script type="text/javascript">var infolink_pid = 8215;var infolinks_link_color = '0000ff';</script><script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script></div><script language="JavaScript" type="text/javascript">
        var gDomain="www.qsstats.com";
        var gDcsId="dcs996g5f10000oi21dozal4c_3d4p";
        var gFpc="WT_FPC";
        var gConvert=true;
        var gFpcDom = "chennaieducation.net";
        if ((typeof(gConvert) != "undefined") && gConvert && (document.cookie.indexOf(gFpc + "=") == -1) && (document.cookie.indexOf("WTLOPTOUT=")==-1)) {
            document.write("<SCR"+"IPT TYPE='text/javascript' SRC='http"+(window.location.protocol.indexOf('https:')==0?'s':'')+"://"+gDomain+"/"+gDcsId+"/wtid.js"+"'><\/SCR"+"IPT>");
        }
        function dcsAdditionalParameters() {}
    </script><script type="text/javascript" src="http://www-sf1.examresults.net/annauniv/webtrends.js"></script><noscript><img alt="" border="0" name="DCSIMG" width="1" height="1" src="http://www.qsstats.com/dcs996g5f10000oi21dozal4c_3d4p/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.0.2" /></noscript></body></html>